.root {
  -repo-color-available:    #0094c5;
  -repo-color-limited:      #d00000;
  -progressbar-color:       limegreen;
  -progressbar-color-error: #ff2020;
}

BorderPane {
  -fx-padding: 8px;
}

BorderPane > left {
  margin: 8px;
}

.root > VBox {
  -fx-spacing: 8px;
}

.jfxRepo {
  -fx-padding: 4px;
}

.jfxRepo :hover {
  -fx-border-color: lightskyblue;
  -fx-border-insets: -1;
  -fx-background-color: aliceblue;
}

#jfxRepo > #jfxLabel {
  -fx-font-size: 10pt;
  -fx-text-overrun: ellipsis;
}

#jfxRepo > #jfxProgressBarLabel {
  -fx-opacity: 0.5;
}

.repo-space-available { -fx-accent: -repo-color-available; }
.repo-space-limited   { -fx-accent: -repo-color-limited;   }

#jfxGames #jfxGamesSizeColumn {
  -fx-alignment: center-right;
}

#jfxGames .table-cell {
  -fx-alignment: center-left;
}

#jfxGames .jfxBrokenJunctionRow {
  -fx-background-color: #ff2020;
}

#jfxGames .jfxBrokenJunctionRow:selected {
  -fx-background-color: #d00000;
}

#jfxTransfers .table-cell {
  -fx-alignment: center-left;
}

.placeholder {
  -fx-opacity: 0.5;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

#jfxLibs .list-view .scroll-bar .increment-arrow,
#jfxLibs .list-view .scroll-bar .decrement-arrow,
#jfxLibs .list-view .scroll-bar .increment-button,
#jfxLibs .list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}

#material-button {
  -fx-padding: 2px;
}

.progressbar-okay  { -fx-accent: -progressbar-color;       }
.progressbar-error { -fx-accent: -progressbar-color-error; }

#material-progressbar .bar {
/*  -fx-accent: -progressbar-color;*/
  -fx-background-color: linear-gradient(to bottom, derive(-fx-accent, -7%), derive(-fx-accent, 0%), derive(-fx-accent, -3%), derive(-fx-accent, -9%) );
  -fx-padding: 10px;
}