language: java
sudo: false
jdk:
  - oraclejdk8
before_install:
  - chmod +x gradlew
script:
  - "./gradlew clean shadowJar"
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
before_deploy:
  - mv .travis/ssh_config ~/.ssh/config
  - openssl aes-256-cbc -K $encrypted_2a4c653400bf_key -iv $encrypted_2a4c653400bf_iv -in .travis/github_deploy_key.enc -out github_deploy_key -d
  - chmod 600 github_deploy_key
  - eval `ssh-agent -s`
  - ssh-add github_deploy_key
  - rm github_deploy_key
  - export RELEASE_JAR_LIBRARY=$(ls build/libs/*.jar)
  - export GIT_TAG=${RELEASE_JAR_LIBRARY%.jar}
  - GIT_TAG=${GIT_TAG##*/}
  - GIT_TAG=${GIT_TAG/steamlinker-/v}
  - echo "Deploying $RELEASE_JAR_LIBRARY to GitHub releases as $GIT_TAG"
  - git config --global user.email "builds@travis-ci.org"
  - git config --global user.name "Travis CI"
  - git tag $GIT_TAG -a -f -m "Generated tag from TravisCI for build $TRAVIS_BUILD_NUMBER. This tag should not be relied upon due to constant forced retags to current build head, and master head should be used instead."
  - git push -fq git@github.com:collinsmith/steamlinker.git --tags
deploy:
  provider: releases
  api_key:
    secure: FEeMu2GKaQ2T04MNf+3hHlYjJLshP0Mz523lIRNgqnH7Yt5gtYNryEttn9OWloXMFX6Y+ltq0OQpS+Q+wHj8OBTLqBogwFRcsfdWdeOcEp+3zCbtzvTufv84Gnq4QD2pQBp/y8SbEtlE33ya+2XNxri/+fOHdK8rL1eLn9AbswyiorWAxXSpemIki5jggn+2Z44Bl2EADd6WDoTZvh5C4PCWXkB3pvw5z4kvPirOdHMthdugteag9IkXpbNVegwCIrGH3oLuIQtqnVrHYXdJvVVzc5gi+2f3AG8cR1OGg6BhssZ3gqOEyvG242sO9dtZt9lA60uHHRxe2uIsk3bwRvrcV2duF5dZedjMbha1OF4LKdHvpIBF5iyerwXCCrTCX6N80pOt8ys5S3tp4Yp+8JgroK5r2towUHnEs+cV+lNnuraphc/xKyUzM4NHliP67fblTDpse86prP4uww7oePYaCivRCNQRasTmi38ytTlhF9YXOsBiad1ElD4w6/qiDjSsPWfoJ96J4igHjtF9IWMjifGDN8MnbhcQmeJVf4RQXrrVLtUatJWPtP1ycS2C6A4YcFque08w/sYxf8zhjQ7H9+E6VvpoQQL3K4+9aQN/WWQALhWV5ATVbYvafAnBBeGXi3oJNjQu1K/MD0CQ+zdEyiA2fsC12Ja2Uj2ILrE=
  file_glob: true
  file: "${RELEASE_JAR_LIBRARY}"
  skip_cleanup: true
  overwrite: true
  on:
    repo: collinsmith/steamlinker
    tags: false
    branch: master
branches:
  except:
    - /^v[0-9]*[.][0-9]*-SNAPSHOT-all$/
    - /^vall-[0-9]*[.][0-9]*-SNAPSHOT$/
    - /^untagged-.*$/
    - gh-pages
